{% extends 'common/base.html' %}

{% block 'body' %}
    {% load widget_tweaks %}
    {% load static %}
    <div class="d-flex justify-content-start">
        <div class="menu-image">
            <div class="col-auto">
                <img src="{% static 'images/home_img.jpg' %}" alt="Nora's Cafeteria" class="img-fluid">
            </div>
        </div>
        <div class="menu-text">
            <h2 class="main-title text-left">Log In</h2>
            <hr class="hr-style-left" />
            <br>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-info" value="Log In">
            </form>
        </div>
    </div>
{% endblock %}