{% extends 'cafeteria/base.html' %}

{% block 'body' %}

{% load widget_tweaks %}

    <div class="d-flex justify-content-start">
        <div class="container" style="margin-left: 12%; width: 50%;">
            <br>
            <h3>Hello {{ user.first_name }}</h3>

            {% if note %}
                <br>
                <h6 class="{% if have_errors %}text-danger{% else %}text-success{% endif %}">{{ note }}</h6>
                <br>
            {% endif %}

            <form action="{% url 'menu_form' %}" method="post">
                {% csrf_token %}

                {% for field in menu_form %}
                    <div class="form-group ">
                    <div class="text-danger">{{ field.errors }}</div>
                    {{ field.label_tag }}
                    {% if field.name == 'date' %}
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                          {{ field }}
                          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                    {% else %}

                        {% if field.name == 'dishes' %}
                            <a href="{% url 'dish_form' %}"> <i class="fa fa-commenting-o text-light fa-lg"></i> + Add more dishes?</a>
                            {% render_field field class="list-unstyled" multiple="multiple" %}

                        {% else %}
                            {% render_field field class="form-control" style="height:100px;" %}
                        {% endif %}
                    {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Create menu">
            </form>

        </div>
        <div align="left" style="margin-right: 10%;">
            {% if menu %}
                <br>
                <h3 class="main-title text-left">Today's Menu</h3>
                <hr class="hr-style-left" />
                {% for dish in menu.dishes.all %}
                    <div class="menu-content d-flex space-between">
                        <p style="font-weight: bold;">Option {{ forloop.counter }}:</p>
                        &nbsp;
                        <p class="menu-menu">{{ dish.name }}</p>
                    </div>
                {% endfor %}
                <br><br>
                <form action="{% url 'edit_menu' menu.uuid %}">
                    <input type="submit" class="btn btn-danger" value="Edit menu?" />
                </form>
                <br>
                <form action="{% url 'menu_form' %}" method="get">
                    <input type="submit"  class="btn btn-warning" name="slack" {% if menu.notification_sent %}disabled{% endif %} value="Notify employees" />
                </form>
            {% else %}
                <h3 class="main-title text-left">Today's menu is not ready yet</h3>
                <hr class="hr-style-left" />
            {% endif %}
        </div>
    </div>

{% endblock %}



