{% extends 'cafeteria/base.html' %}

{% block 'body' %}

{% load widget_tweaks %}

    <div class="container">

        <h3>Hello {{ user.username }}</h3>

        {% if note %}
            <br>
            <h6 class="{% if have_errors %}text-danger{% else %}text-success{% endif %}">{{ note }}</h6>
            <br>
        {% endif %}

        <form action="{% url 'menu' pk %}" method="post">
            {% csrf_token %}
            <fieldset {% if not enable_form %}disabled="disabled"{% endif %}>
            {% for field in order_form %}
                <div class="form-group ">
                    {{ field.label_tag }}
                    {% if field.name == 'dish' %}
                        <br>
                        {% for dish in menu.dishes.all %}
                            {% if created_order and dish.name == created_order.dish.name %}
                                <input type="radio" id="option{{ dish.id }}" name="options" value="{{ dish.id }}" checked="checked">
                            {% else %}
                                <input type="radio" id="option{{ dish.id }}" name="options" value="{{ dish.id }}">
                            {% endif %}
                            <label for="option{{ dish.id }}">Option {{ forloop.counter }}: {{ dish.name }}</label><br>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% if created_order %}Edit{% else %}Order{% endif %}">
            </fieldset>
        </form>

    </div>
{% endblock %}



